@import "fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Matter, 'Darker Grotesque', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f2e8e4;
  color: #1e1e1e;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

*::selection {
  background-color: #1e1e1e;
  color: #fe8450;
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}